<!DOCTYPE html>

<!-- loading the static files -->
{% load static %} 

<html>

        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title></title>
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="">
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
                        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
                        crossorigin="anonymous">
        </head>

        <body>
                {% include 'navbar.html' %}
                <div class="container w-74">

                <!-- Displaying the options for user if they are authenticated -->
                {% if request.user.is_authenticated %}

                <div class="row d-flex align-content-center justify-content-center mt-5">
                        <div class="col-md-6">
                                <h1>Hello {{request.user.first_name}}</h1>
                                <ul>
                                        <li><a href="{% url 'profile' request.user.id %}">Complete Profile</a></li>
                                </ul>
                        </div>

                <!-- If the user is super user then he can see the following options -->
                {% if request.user.is_superuser %}

                        <div class="col-md-6">

                                
                                <h2>Add new departments and designations</h2>
                                <ul>
                                        <li><a href="{% url 'department' %}">add new departments</a></li>
                                        <li><a href="{% url 'designation' %}">add new designations</a></li>
                                </ul>
                        </div>
                </div>
                <div>
                        <h2>Show Users</h2>
                        <button id="ShowUsers" class="btn btn-dark">Show Users</button>
                        
                        <table class="table table-hover table-bordered">
                                <thead>
                                        <th>Sno</th>
                                        <th>Name</th>
                                        <th>email</th>
                                        <th>Birth year</th>
                                        <th>Visibility</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Manager</th>
                                        <th>Address</th>
                                        <th>Profile Pic</th>
                                </thead>
                                <tbody id="TableOfUsers">
                                        <!-- The body of this table is empty as it will be populated using js -->
                                </tbody>
                        </table>
                </div>
                {% endif %}     <!-- End condition for super user -->
                {% endif %}     <!-- End condition for authentication check -->
                </div>

                <script src="{% static 'js/Dynamictable.js' %}"></script> <!-- This js file is used to dynamically populate the data of the table body -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                        crossorigin="anonymous"></script>
        </body>

</html>
